@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

:root {
  --main: #00B8D4;
  --bg: #fff;
  --point: #B2EBF2;
  --text: #004247;
  --shadow: #4f4f4f;
}

html {
  font-family: 'Galmuri11', sans-serif;
  color: var(--text);
  background: #e3edf0;
}

.wrapper {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--main);
  padding-block: .75rem;
  padding-inline: 1.4rem;
  font-size: 0.9rem;
  box-shadow: 0 3px 0px #00000020;
  z-index: 999;
}

.header h1 {
  color: #fff;
  text-shadow:
    -3px 0px var(--text),
    0px 3px var(--text),
    0px 0px var(--text),
    0px -1px var(--text);

  &:hover {
    text-shadow:
      -2px 0px var(--text),
      0px 2px var(--text),
      0px -1px var(--text);
  }
}

input[name="pokemon"] {
  padding-block: .25rem;
  padding-inline: .5rem;
  box-shadow: -2px -2px 0 var(--shadow);
  border: none;
}

/* .search-typeahead {
  border: 2px solid var(--shadow);
}

.search-typeahead ul {
  position: absolute;
  background: #fff;
  padding-block: .25rem;
  padding-inline: 0.5rem;
} */

.page-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  max-height: 500px;
  transition: max-height 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.current-page {
  font-size: 1.1rem;
  min-width: 80px;
  text-align: center;
}

.btn {
  border: 1px solid var(--text);
  border-radius: .125rem;
  background: var(--bg);
  box-shadow: 
    -1px 0px var(--text),
    0px -1px var(--text);

  img {
    width: 10px;
  }
}

.filter-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: .25rem;
  padding-inline: 2rem;
  overflow: hidden;
  row-gap: .75rem;
  width: 120px;
  max-height: 30px;
  box-shadow: 2px 2px 0 var(--shadow);
  text-align: center;
  transition: max-height 1s ease-in-out;
  line-height: 1.1;
  z-index: 998;
  
  &:hover {
    max-height: 2000px;
    overflow: visible;
  }
}

.types {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  background: var(--bg);
  top: 25px;
  left: -1px;
  width: 102%;
  padding: .5rem;
  border: 1px solid var(--text);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 0 var(--shadow);
}

.type {
  color: #fff;
  padding: .25rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 0 var(--shadow);
  cursor: pointer;
  
  &:hover {
    font-weight: 700;
    box-shadow: -1px -1px 0 var(--shadow);
  }
}

.page-btn--prev,
.page-btn--next {
  aspect-ratio: 1;
  box-shadow: 1px 1px 0 var(--shadow);
  
  &:hover {
    box-shadow: -1px -1px 0 var(--shadow);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-block: 2rem;
}

.no-result {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  visibility: hidden;
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  visibility: hidden;
  text-align: center;
}

.card {
  border-radius: .5rem;
  background: var(--bg);
  overflow: hidden;
  /* box-shadow: 1px 3px 0px #00000040; */
  box-shadow: 2px 2px 0 var(--shadow);
  border: 1px solid #00000040;
  padding: .5rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: .75rem;
}

.card__header span {
  font-size: .875rem;
}

.card__header .card__title {
  font-size: 1.125rem;
  color: #232323;
  filter: drop-shadow(2px 1px 0 #00000020);
}

.card__img {
  width: 96px;
  aspect-ratio: 1;
}

.card__desc {
  border: none;
  width: 80%;
  padding: .375rem;
  border-radius: .75rem;
  box-shadow: 1px 2px 0 #00000030;
  font-size: 0.9rem;
  color: #444;

  &:hover {
    box-shadow: -1px -2px 0 #00000030;
  }
}

.card__footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .75rem;
}

.card__type {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
}

.card__type li {
  border-radius: 50px;
  padding-inline: 1rem;
  padding-block: .25rem;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.type-grass {
  background: #3fa129;
}

.type-fire {
  background: #e62829;
}

.type-poison {
  background: #9141cb;
}

.type-dragon {
  background: #343e92;
}

.type-dark {
  background: #403233;
}

.type-water {
  background: #2970ef;
}

.type-flying {
  background: #54789b;
}

.type-normal {
  background: #676967;
}

.type-bug {
  background: #91a119;
}

.type-electric {
  background: #fac000;
}

.type-ground {
  background: #915121;
}

.type-fairy {
  background: #ef70ef;
}

.type-fighting {
  background: #ff8000;
}

.type-rock {
  background: #726e54;
}

.type-steel {
  background: #60a1b8;
}

.type-ice {
  background: #3dcef3;
}

.type-ghost {
  background: #704170;
}

.type-psychic {
  background: #ef4179;
}

.detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000040;
  backdrop-filter: blur(4px);
  z-index: 1000;

  visibility: hidden;
}

.card__detail {
  background: #fff;
  width: 40%;
  aspect-ratio: 3/2;
  border-radius: .5rem;
  border: 1px solid var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0 var(--shadow);
  
  font-size: 2.4rem;
  font-weight: 700;
  color: #111;
}

.show {
  visibility: visible!important;
}

.hide {
  max-height: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__type {
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
  }
}